<app-cursor-animation></app-cursor-animation>

<div [@fadeInOut]>

<div class="max-w-screen-lg mx-auto p-8 text-gray-800 dark:text-gray-200">
  <!-- Hero Section -->
  <section class="text-center mb-12">
    <h1 class="text-4xl md:text-5xl font-bold mb-4">À propos de moi</h1>
    <p class="text-lg md:text-xl max-w-2xl mx-auto">
      Développeur passionné avec une expertise en développement front-end et une forte appétence pour les nouvelles technologies.
    </p>
  </section>

  <!-- Experience Section -->
  <section class="mb-12">
    <h2 class="text-3xl font-semibold mb-6">Expérience</h2>
    <div class="space-y-4">
      <div class="p-4 rounded-lg shadow-md bg-white dark:bg-gray-800">
        <h3 class="text-2xl font-medium">Développeur Front-End - Entreprise ABC</h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">Jan 2021 - Présent</p>
        <p class="mt-2">Travail sur divers projets front-end en utilisant Angular, Tailwind CSS et des méthodologies agiles.</p>
      </div>
      <div class="p-4 rounded-lg shadow-md bg-white dark:bg-gray-800">
        <h3 class="text-2xl font-medium">Développeur Web - Entreprise XYZ</h3>
        <p class="text-sm text-gray-600 dark:text-gray-400">Jan 2018 - Déc 2020</p>
        <p class="mt-2">Développement d'applications web et amélioration de l'expérience utilisateur.</p>
      </div>
    </div>
  </section>

  <!-- Skills Section -->
  <section class="mb-12">
    <h2 class="text-3xl font-semibold mb-6">Compétences</h2>
    <div class="flex flex-wrap gap-4">
      <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-lg flex-grow md:w-1/4">
        <h4 class="text-xl font-semibold">HTML / CSS</h4>
        <p>Maîtrise de la création de structures web et de styles modernes.</p>
      </div>
      <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-lg flex-grow md:w-1/4">
        <h4 class="text-xl font-semibold">JavaScript / TypeScript</h4>
        <p>Solides compétences en développement d'applications dynamiques.</p>
      </div>
      <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-lg flex-grow md:w-1/4">
        <h4 class="text-xl font-semibold">Angular</h4>
        <p>Développement d'applications réactives et modulaires.</p>
      </div>
      <div class="p-4 bg-white dark:bg-gray-800 shadow-md rounded-lg flex-grow md:w-1/4">
        <h4 class="text-xl font-semibold">Tailwind CSS</h4>
        <p>Création de designs modernes et responsives avec Tailwind.</p>
      </div>
    </div>
  </section>
</div>

</div>
