<nav class="w-full bg-transparent dark:bg-[#262626]">
  <div class="nav max-w-screen-lg mx-auto px-4 flex items-center justify-between p-5">

    <!-- Logo Section -->
    <div class="flex items-center flex-shrink-0">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 50" width="100" height="50">
        <text x="10" y="35" font-family="police-h1, sans-serif" font-size="36" fill="black"
          class="dark:fill-white">C</text>
        <text x="32" y="35" font-family="police-h1, sans-serif" font-size="36" fill="black"
          class="dark:fill-white">F</text>
      </svg>
    </div>

    <!-- Right Section: Navigation, Dark Mode Toggle, Language Dropdown -->
    <div class="flex items-center gap-7">

      <!-- Navigation Links -->
      <div class="dark:text-white font-h1 flex gap-10">
        <a href="#responsive-header" class="nav-link block mt-4 font-h1 lg:inline-block lg:mt-0"
          [class.active]="isActive('A-propos')" (click)="setActiveLink('A-propos')">
          A-propos
        </a>
        <a href="#responsive-header" class="nav-link block mt-4 font-h1 lg:inline-block lg:mt-0"
          [class.active]="isActive('Portfolio')" (click)="setActiveLink('Portfolio')">
          Portfolio
        </a>
        <a href="#responsive-header" class="nav-link block mt-4 font-h1 lg:inline-block lg:mt-0"
          [class.active]="isActive('Contact')" (click)="setActiveLink('Contact')">
          Contact
        </a>
      </div>

      <!-- Dark mode button -->
      <div class="flex ml-10 items-center">
        <input type="checkbox" id="darkModeToggle" (change)="toggleDarkMode()" />
      </div>

      <!-- Language Dropdown -->
      <div class="relative inline-block text-left">

        <!-- Dropdown Button -->
        <button
          class="dropdown-button flex items-center bg-white text-black px-4 py-2 rounded border border-gray-300 hover:bg-gray-100 focus:outline-none dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700"
          (click)="toggleDropdown()">
          <img [src]="getCurrentLanguageFlag()" alt="Current language flag" class="w-5 h-5 mr-2">
          <span>&#9660;</span>
        </button>

        <!-- Dropdown Menu -->
        <div *ngIf="isDropdownOpen"
          class="absolute left-0 mt-2 w-40 bg-white rounded-md shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10 dark:bg-gray-800 dark:ring-white dark:ring-opacity-10">
          <div class="py-1">
            <button *ngFor="let lang of languages"
              class="flex items-center w-full px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none dark:text-gray-300 dark:hover:bg-gray-700 dark:focus:bg-gray-700"
              (click)="changeLanguage(lang.code)">
              <img [src]="lang.flag" alt="{{ lang.label }} flag" class="w-5 h-5 mr-2">
              {{ lang.label }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
